/* pc */
@media (min-width: 1040px) {
    
}

/* tablet */
@media (max-width: 1040px) and (min-width: 740px) {

}

/* mobile */
@media (max-width: 740px) {
    #nav > li {
        display: block;
    }

    #header .search-btn {
        display: none;
    }

    .mobile-menu-btn {
        padding: 12.5px 20px; 
        float: right;
    }

    .mobile-menu-btn:hover {
        background-color: #ccc;
    }

    .menu-icon {
        font-size: 15px;
        line-height: 46px;
        color: #fff;
    }

    .menu-icon:hover {
        color: #000;
    }
}