/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* 
1. vị trí
2. kích thước (width, height)
3. màu sắc
4. kiểu dáng (kiểu chữ, hình tròn, vuông, ...)
*/

#main {

}

#header {
    height: 46px;
    background-color: #000;
}

#nav {
    display: inline-block;
}

#nav, .sub-nav {
    list-style-type: none;
}

#nav > li {
    display: inline-block; 
}

#nav li {
   position: relative;
}

#nav > li:hover > a,
#nav .sub-nav li:hover {
    background-color: #ccc;
    color: #000;
}

#nav > li > a {
    text-transform: uppercase;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .sub-nav {
    display: block;
}

#nav .sub-nav {
    min-width: 160px;
    display: none;
    position: absolute;
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) ;  
}

#nav .sub-nav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .arrow-down {
    font-size: 14px;
}

#header .search-btn {
    float: right; 
    padding: 0 21px; 
}

#header .search-btn:hover {
    background-color: #f44336;
}

#header .search-icon {
    font-size: 20px;
    color: #fff;
    line-height: 46px;
}

#slider {

}

#content {

}

#footer {

}
